<nav>
    <div class="nav-wrapper">
      
        <a routerLink="" class="brand-logo right">Rotas Ng2</a>
      <!--<a href="#" id="menuMobile"  (click)="abrirFecharMenuMobile()"-->
          <a href="#"  data-activates="mobile-demo" class="button-collapse" ><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/login" >Login</a></li>
          <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}" >Cursos</a></li> <!-- [queryParams] é possivel passar paramentros no link -->
          <!--li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Cursos com Id</a></li-->
          <li routerLinkActive="active"><a [routerLink]="'/alunos'">Alunos</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">

          <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
          <li routerLinkActive="active"><a [routerLink]="'/alunos'">Alunos</a></li>
   
      </ul>
    </div>
  </nav>