

<!--div class="row"-->
<div class="card col s12 m8">
    
      <div class="card-image">
        <img src="assets/img/graduate-student-icon-white-background-79875014.jpg">
        <span class="card-title  teal-text text-lighten-2"><b>Detalhes do Aluno</b></span>
        <a alt="Editar" class="btn-floating halfway-fab waves-effect waves-light blue" (click)="editarContato()"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p><b>Id:</b>  {{ aluno.id}}</p>
        <p><b>Nome:</b>  {{ aluno.nome}}</p>
        <p><b>Email:</b>  {{ aluno.email}}</p>
      </div>


</div>